<ion-header no-border [ngClass]="{'blur': backcol == 1}">
  <!-- <ion-navbar class="glob_back_grad" [color]="isRecording ? 'danger' : 'transparent'"> -->
  <ion-navbar transparent>
    <ion-buttons left>
      <button ion-button icon-end small outline round color="light" full="true" (click)="openLangin($event)">
        <small>from: </small>
        <b *ngIf="langin">{{langin.languageName}}</b>
        <ion-icon name="arrow-dropdown"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title (click)="toggleLangs()"><img src="assets/icon/switch_language.png" ></ion-title>
    <ion-buttons right>
      <button ion-button icon-end small outline round color="light" full="true" (click)="openLangout($event)">
        <small>to: </small>
        <b *ngIf="langout">{{langout.languageName}}</b>
        <ion-icon name="arrow-dropdown"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding [ngClass]="{'glob_back_grad_blur padbot': backcol == 1, 'glob_back_grad padbot': backcol == 0}">

  <ion-card class="transcard" *ngFor="let word of words">
    <ion-list>
      <ion-item class="lfrom" text-wrap>
        <p (click)="presentActionSheet(word, 'from')">{{word.lfrom.languageName}}</p>
        <h2 (click)="presentActionSheet(word, 'from')">{{htmlEnt(word.lfromtxt)}}</h2>
        <ion-icon (click)="listenWords(word.lfromtxt, word.lfrom.languageIndex)" name="custom_sound_dis" item-end></ion-icon>
        <ion-fab bottom left edge>
          <button ion-fab mini class="arrdis"><ion-icon name="custom_arr_blue"></ion-icon></button>
        </ion-fab>
      </ion-item>
      <ion-item class="lto" text-wrap>
        <p (click)="presentActionSheet(word, 'to')">{{word.lto.languageName}}</p>
        <h2 (click)="presentActionSheet(word, 'to')">{{htmlEnt(word.ltotxt)}}</h2>
        <ion-icon (click)="listenWords(word.ltotxt, word.lto.languageIndex)" name="custom_sound_dis" item-end></ion-icon>
      </ion-item>
      <ion-item *ngIf="isTime">
        <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A">{{word.ttime}}</ion-datetime>
      </ion-item>
    </ion-list>
  </ion-card>

</ion-content>

<ion-footer no-border [ngClass]="{'blur': backcol == 1}">
  <ion-grid>
      <ion-row align-items-center>
          <ion-col col-4 align-self-center text-center (click)="goSetts()">
            <button ion-button icon-only full [clear]="true">
              <ion-icon name="custom_settings"></ion-icon>
            </button>
          </ion-col>
          <ion-col col-4 align-self-center text-center (touchstart)="listenForSpeech(langin)" (touchend)="endlistenForSpeech()">
            <button ion-button icon-only full [clear]="true">
              <ion-icon name="custom_mic"></ion-icon>
            </button>
            <div id="xy" [@bounce]='bounceState'>
              <p id="x" [@flip]='flipState' (@flip.start)='flipStarted($event)' (@flip.done)='flipStopped($event)'></p>
              <p id="y" [@flip2]='flipState2' (@flip2.start)='flipStarted2($event)' (@flip2.done)='flipStopped2($event)'></p>
            </div>
          </ion-col>
          <ion-col col-4 align-self-center text-center (click)="textModal(0, 0)">
            <button ion-button icon-only full [clear]="true">
              <ion-icon name="custom_translate"></ion-icon>
            </button>
          </ion-col>
      </ion-row>
  </ion-grid>
</ion-footer>
