page-about {
    .glob_back_grad {
        // background-image: linear-gradient(to top right, #813be7, #2baefa);
        background-image:url('../assets/icon/background.png');
        background-size: 100% 100%;
        background-position: center center;
        background-repeat: no-repeat;
    }
    ion-content {
        // margin-bottom:49px !important;
    }
    ion-content div.scroll-content {
      margin-bottom: 0px !important;
    }
    .toolbar-background {
        background-color: rgba(0,0,0,0);
    }
    ion-navbar ion-buttons {
        width:40%;
    }
    ion-navbar ion-buttons button {
        width:100% !important;
        border-radius: 1em !important;
        padding:10px 5px !important;
        height: 2em !important;
    }
    ion-navbar ion-buttons button ion-icon {
        margin: 0 0 0 auto;
        font-size: 1em;
    }
    ion-navbar ion-buttons button small {
        padding-right: 5px;
    }
    .ion-ios-custom_settings,
    .ion-md-custom_settings {
      content: url(../assets/icon/settings_icon.svg);
      width: 40px;
    //   height: 32px;
      padding: 6px 4px 2px;
      opacity: 0.9;
    }
    
    .ion-ios-custom_settings-outline,
    .ion-md-custom_settings-outline {
      content: url(../assets/icon/settings_icon.svg);
      width: 40px;
    //   height: 32px;
      padding: 6px 4px 2px;
      opacity: 0.9;
    }
    
    .ion-ios-custom_mic,
    .ion-md-custom_mic {
      content: url(../assets/icon/mic_button.svg);
    //   width: 24px;
      height: 50px !important;
    //   padding: 6px 4px 2px;
      opacity: 0.9;
    }
    
    .ion-ios-custom_mic-outline,
    .ion-md-custom_mic-outline {
      content: url(../assets/icon/mic_button.svg);
    //   width: 24px;
      height: 50px !important;
    //   padding: 6px 4px 2px;
      opacity: 0.9;
    }
    
    .ion-ios-custom_translate,
    .ion-md-custom_translate {
      content: url(../assets/icon/text_translate_icon.svg);
      width: 40px;
    //   height: 32px;
      padding: 6px 4px 2px;
      opacity: 0.9;
    }
    
    .ion-ios-custom_translate-outline,
    .ion-md-custom_translate-outline {
      content: url(../assets/icon/text_translate_icon.svg);
      width: 40px;
    //   height: 32px;
      padding: 6px 4px 2px;
      opacity: 0.9;
    }

    .ion-ios-custom_sound_dis,
    .ion-md-custom_sound_dis {
      content: url(../assets/icon/sound_dis.svg);
      width: 40px;
    //   height: 32px;
      padding: 6px 4px 2px;
      opacity: 0.9;
    }
    
    .ion-ios-custom_sound_dis-outline,
    .ion-md-custom_sound_dis-outline {
      content: url(../assets/icon/sound_dis.svg);
      width: 40px;
    //   height: 32px;
      padding: 6px 4px 2px;
      opacity: 0.9;
    }

    .ion-ios-custom_sound_act,
    .ion-md-custom_sound_act {
      content: url(../assets/icon/sound_act.svg);
      width: 40px;
    //   height: 32px;
      padding: 6px 4px 2px;
      opacity: 0.9;
    }
    
    .ion-ios-custom_sound_act-outline,
    .ion-md-custom_sound_act-outline {
      content: url(../assets/icon/sound_act.svg);
      width: 40px;
    //   height: 32px;
      padding: 6px 4px 2px;
      opacity: 0.9;
    }

    .ion-ios-custom_arr_blue,
    .ion-md-custom_arr_blue {
      content: url(../assets/icon/arrow_blue.svg);
      width: 25px;
      height: 25px;
      padding: 6px 4px 2px;
      // background-color:#fff;
      // opacity: 0.9;
    }
    
    .ion-ios-custom_arr_blue-outline,
    .ion-md-custom_arr_blue-outline {
      content: url(../assets/icon/arrow_blue.svg);
      width: 25px;
      height: 25px;
      padding: 6px 4px 2px;
      // background-color:#fff;
      // opacity: 0.9;
    }
    
    ion-footer {
        height: 20%;
        background-image: linear-gradient(to top, rgba(129,59,231,0.8), rgba(43,174,250,0)) !important;
        background-image:url('../assets/icon/bottom_back.png');
        background-size: 100% 100%;
        background-position: center center;
        background-repeat: no-repeat;
        border-top:0 !important;
    }
    ion-footer ion-grid {

    }
    ion-footer ion-grid, ion-grid ion-row {
        height: 100%;
    }
    ion-col button {
        height: 60px !important;
    }
    ion-card.transcard, .transcard ion-list {
      border-radius: 20px;
    }
    ion-list ion-item.lfrom {
      background-color: #fff;
      border-radius: 20px 20px 0 0;
      border-bottom: 1px solid #DDE4F2;
      overflow: visible !important;
    }
    ion-list ion-item.lto {
      background-color: #F0F5FF;
      border-radius: 0 0 20px 20px;
      overflow: visible !important;
    }
    ion-list .item {
      overflow: visible !important;
    }
    ion-list .item .item-inner {
      overflow: visible !important;
    }
    ion-list .item .item-inner .item-wrapper {
      overflow: visible !important;
    }
    ion-list {
      overflow: visible !important;
    }

    button.arrdis {
      z-index: 999;
      background-color:rgba(0,0,0,0);
      box-shadow: none;
      border:0;
    }

    .blur {
        -webkit-filter: blur(5px) !important;
        -moz-filter: blur(5px) !important;
        -o-filter: blur(5px) !important;
        -ms-filter: blur(5px) !important;
        filter: blur(5px) !important;
    }
    .glob_back_grad_blur {
      // background-image: linear-gradient(to top right, #813be7, #2baefa);
      background-image:url('../assets/icon/background.png');
      background-size: 100% 100%;
      background-position: center center;
      background-repeat: no-repeat;
      -webkit-filter: blur(5px) !important;
      -moz-filter: blur(5px) !important;
      -o-filter: blur(5px) !important;
      -ms-filter: blur(5px) !important;
      filter: blur(5px) !important;
  }
  ion-header {
    text-align: center;
  }
  .padbot {
    padding-bottom: 10%;
  }
}
