<ion-tabs>
  <ion-tab [root]="tab1Root" tabIcon="custom_settings"></ion-tab>
  <ion-tab [root]="tab2Root" tabIcon="custom_mic"></ion-tab>
  <ion-tab [root]="tab3Root" tabIcon="custom_translate"></ion-tab>
  <p id="x" [@flip]='flipState' (@flip.start)='flipStarted($event)' (@flip.done)='toggleFlip()'></p>
  <p id="y" [@flip2]='flipState2' (@flip2.done)='toggleFlip2()'></p>
</ion-tabs>