page-textmodal {
    .main-view{
        background: transparent;
        color: #fff !important;
    }
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color:#000;
        opacity: .5;
    }
    .header-view {
        text-align: center;
        background-color:rgba(0,0,0,0) !important;
        color: #fff;
    }
    ion-navbar {
        background-color: rgba(0,0,0,0) !important;
    }
    .toolbar-background {
        background-color: rgba(0,0,0,0) !important;
    }
    .toolbar-content ion-title .toolbar-title {
        color:#fff;
    }
    .modal_content {
        position: absolute;
        // top: calc(50% - (50%/2));
        top: 5px;
        left: 0;
        right: 0;
        width: 90%;
        // height: 50%;
        padding: 10px;
        z-index: 100;
        margin: 0 auto;
        padding: 10px;
        color: #333;
        background: #fff;
        // background: -moz-linear-gradient(top, #fff 0%, #e8e8e8 100%);
        // background: -webkit-linear-gradient(top, #fff 0%, #e8e8e8 100%);
        // background: linear-gradient(to bottom, #fff 0%, #e8e8e8 100%);
        // background-color:rgba(0,0,0,0);
        border-radius: 15px;
        // box-shadow: 0 2px 3px rgba(51, 51, 51, .35);
        box-shadow: none;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        overflow: hidden;
    }
    .modal_content ion-input {
        background-color: #fff;
        border-radius: 15px;
        padding: 5px;
    }
}
