<ion-header class="header-view" no-border>
  <ion-navbar [ngStyle]="{'background-color': '#000'}">
    <ion-buttons left>
      <button ion-button color="light" (click)="close()" [ngStyle]="{'color': '#fff', 'font-size': '200%'}">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title center color="light" [ngStyle]="{'color': '#fff'}">{{title}}</ion-title>
    <ion-buttons right>
      <button ion-button color="light" (click)="save()" [ngStyle]="{'color': '#fff', 'font-size': '200%'}">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="main-view">
  <div class="overlay" (click)="dismiss()"></div>
  <div class="modal_content" no-border>
      <p>{{langlang}}</p>
      <ion-textarea type="text" [(ngModel)]="langtxt" no-border></ion-textarea>
  </div>
</ion-content>