page-settings {
    .ion-ios-custom_voice_male,
    .ion-md-custom_voice_male {
      content: url(../assets/icon/voice_male.svg);
      width: 25px;
      height: 25px;
      padding: 6px 4px 2px;
      // background-color:#fff;
      // opacity: 0.9;
    }
    
    .ion-ios-custom_voice_male-outline,
    .ion-md-custom_voice_male-outline {
      content: url(../assets/icon/voice_male.svg);
      width: 25px;
      height: 25px;
      padding: 6px 4px 2px;
      // background-color:#fff;
      // opacity: 0.9;
    }
    .ion-ios-custom_voice_female,
    .ion-md-custom_voice_female {
      content: url(../assets/icon/voice_female.svg);
      width: 25px;
      height: 25px;
      padding: 6px 4px 2px;
      // background-color:#fff;
      // opacity: 0.9;
    }
    
    .ion-ios-custom_voice_female-outline,
    .ion-md-custom_voice_female-outline {
      content: url(../assets/icon/voice_female.svg);
      width: 25px;
      height: 25px;
      padding: 6px 4px 2px;
      // background-color:#fff;
      // opacity: 0.9;
    }
    .ion-ios-custom_low_speed,
    .ion-md-custom_low_speed {
      content: url(../assets/icon/low_speed.svg);
      width: 25px;
      height: 25px;
      padding: 6px 4px 2px;
      // background-color:#fff;
      // opacity: 0.9;
    }
    
    .ion-ios-custom_low_speed-outline,
    .ion-md-custom_low_speed-outline {
      content: url(../assets/icon/low_speed.svg);
      width: 25px;
      height: 25px;
      padding: 6px 4px 2px;
      // background-color:#fff;
      // opacity: 0.9;
    }
    .ion-ios-custom_high_speed,
    .ion-md-custom_high_speed {
      content: url(../assets/icon/high_speed.svg);
      width: 25px;
      height: 25px;
      padding: 6px 4px 2px;
      // background-color:#fff;
      // opacity: 0.9;
    }
    
    .ion-ios-custom_high_speed-outline,
    .ion-md-custom_high_speed-outline {
      content: url(../assets/icon/high_speed.svg);
      width: 25px;
      height: 25px;
      padding: 6px 4px 2px;
      // background-color:#fff;
      // opacity: 0.9;
    }
    .ion-ios-custom_help,
    .ion-md-custom_help {
      content: url(../assets/icon/help.svg);
      width: 25px;
      height: 25px;
      padding: 6px 4px 2px;
      // background-color:#fff;
      // opacity: 0.9;
    }
    
    .ion-ios-custom_help-outline,
    .ion-md-custom_help-outline {
      content: url(../assets/icon/help.svg);
      width: 25px;
      height: 25px;
      padding: 6px 4px 2px;
      // background-color:#fff;
      // opacity: 0.9;
    }
    .ion-ios-custom_support,
    .ion-md-custom_support {
      content: url(../assets/icon/support.svg);
      width: 25px;
      height: 25px;
      padding: 6px 4px 2px;
      // background-color:#fff;
      // opacity: 0.9;
    }
    
    .ion-ios-custom_support-outline,
    .ion-md-custom_support-outline {
      content: url(../assets/icon/support.svg);
      width: 25px;
      height: 25px;
      padding: 6px 4px 2px;
      // background-color:#fff;
      // opacity: 0.9;
    }
    .ion-ios-custom_rate,
    .ion-md-custom_rate {
      content: url(../assets/icon/rate.svg);
      width: 25px;
      height: 25px;
      padding: 6px 4px 2px;
      // background-color:#fff;
      // opacity: 0.9;
    }
    
    .ion-ios-custom_rate-outline,
    .ion-md-custom_rate-outline {
      content: url(../assets/icon/rate.svg);
      width: 25px;
      height: 25px;
      padding: 6px 4px 2px;
      // background-color:#fff;
      // opacity: 0.9;
    }
}
