<ion-header>

  <ion-navbar color="primary">
    <ion-title>Settings</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list radio-group (ionChange)="updDB()" [(ngModel)]="gender">
    <ion-list-header>
      Gender
    </ion-list-header>
    <ion-item>
      <ion-label><ion-icon name="custom_voice_male" start></ion-icon> Male</ion-label>
      <ion-radio checked value="male"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label><ion-icon name="custom_voice_female" start></ion-icon> Female</ion-label>
      <ion-radio value="female"></ion-radio>
    </ion-item>
  </ion-list>
  <ion-item-divider text-wrap>
      Please note, that some languages have only female pronunciation
  </ion-item-divider>
  <ion-list>
      <ion-list-header>
        Voice speed
      </ion-list-header>
      <ion-item>
          <ion-range min="0" max="100" step="10" (ionChange)="updDB()" [(ngModel)]="speed">
            <ion-icon range-left small name="custom_low_speed"></ion-icon>
            <ion-icon range-right name="custom_high_speed"></ion-icon>
          </ion-range>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-list-header>
        SETTINGS
      </ion-list-header>
      <ion-item>
        <ion-label> Autoplay</ion-label>
        <ion-toggle (ionChange)="updDB()" [(ngModel)]="autoplay"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label> iCloud</ion-label>
        <ion-toggle checked="true"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label> Something else</ion-label>
        <ion-toggle checked="true"></ion-toggle>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-list-header>
        ADDITIONALLY
      </ion-list-header>
      <button ion-item (click)="openURL('http://www.profify.me')">
          <ion-icon name="custom_help" item-start></ion-icon>
          Help
      </button>
      <button ion-item (click)="openURL('http://www.profify.me')">
          <ion-icon name="custom_support" item-start></ion-icon>
          Support
      </button> 
      <button ion-item (click)="openURL('http://www.profify.me')">
          <ion-icon name="custom_rate" item-start></ion-icon>
          Rate us
      </button> 
    </ion-list>
    <button ion-button color="danger" clear full (click)="emptyDB()">Clear translation history</button>
</ion-content>
