.glob_back_grad {
    // background-image: linear-gradient(to top right, #813be7, #2baefa);
    background-image:url('../assets/icon/background.png');
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0);
}

.tabbar {
    height: 20%;
    // background-image: linear-gradient(to top, rgba(129,59,231,0.8), rgba(43,174,250,0)) !important;
    background-image:url('../assets/icon/bottom_back.png');
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    border-top:0 !important;
    background-color: rgba(0,0,0,0);
}

.tabbar .tab-button-icon {
    height: 40px;
}

modal-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
}

@media not all and (min-height: 600px) and (min-width: 768px) {
    ion-modal ion-backdrop {
        visibility: hidden;
    }
}

@media only screen and (min-height: 0px) and (min-width: 0px) {
    .modal-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}