<ion-list *ngIf="languages">
  <ion-item *ngFor="let langs of languages" (click)="close(langs)">
      {{langs.languageName}} <ion-icon *ngIf="sellang == langs" name="checkmark" color="secondary" item-end></ion-icon>
  </ion-item>
</ion-list>
