page-fullscreen {

    .header-view {
        text-align: center;
        background-color:rgba(0,0,0,0) !important;
        color: #fff;
    }

    ion-navbar {
        background-color: rgba(0,0,0,0) !important;
    }

    .toolbar-background {
        background-color: rgba(0,0,0,0) !important;
    }

    ion-list, ion-list ion-item {
        background-color:rgba(0,0,0,0) !important;
    }

    .ion-ios-custom_sound_dis,
    .ion-md-custom_sound_dis {
      content: url(../assets/icon/sound_dis.svg);
      width: 40px;
    //   height: 32px;
      padding: 6px 4px 2px;
      opacity: 0.9;
    }
    
    .ion-ios-custom_sound_dis-outline,
    .ion-md-custom_sound_dis-outline {
      content: url(../assets/icon/sound_dis.svg);
      width: 40px;
    //   height: 32px;
      padding: 6px 4px 2px;
      opacity: 0.9;
    }

    .ion-ios-custom_sound_act,
    .ion-md-custom_sound_act {
      content: url(../assets/icon/sound_act.svg);
      width: 40px;
    //   height: 32px;
      padding: 6px 4px 2px;
      opacity: 0.9;
    }
    
    .ion-ios-custom_sound_act-outline,
    .ion-md-custom_sound_act-outline {
      content: url(../assets/icon/sound_act.svg);
      width: 40px;
    //   height: 32px;
      padding: 6px 4px 2px;
      opacity: 0.9;
    }

    .title {
        color: #fff !important;
    }

}
