<ion-header class="header-view" no-border>

  <ion-navbar>
    <ion-buttons right>
      <button ion-button (click)="close()" [ngStyle]="{'color': '#fff', 'font-size': '200%'}">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding class="glob_back_grad">
  <h1 [ngStyle]="{'color': '#fff'}">{{htmlEnt(langtxt)}}</h1>
  <ion-list>
    <ion-item text-wrap>
      <ion-icon (click)="listenWords(langtxt, word.lfrom.languageIndex)" name="custom_sound_act" item-end></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
